@model BeFitApp.Models.SessionExercise

@{
    ViewData["Title"] = "Szczegóły ćwiczenia";
}

<h1>Szczegóły wykonanego ćwiczenia</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Sesja treningowa</dt>
        <dd class="col-sm-9">@Model.TrainingSession?.StartTime.ToString("dd.MM.yyyy HH:mm")</dd>

        <dt class="col-sm-3">Typ ćwiczenia</dt>
        <dd class="col-sm-9">@Model.ExerciseType?.Name</dd>

        <dt class="col-sm-3">Obciążenie (kg)</dt>
        <dd class="col-sm-9">@Model.Weight</dd>

        <dt class="col-sm-3">Liczba serii</dt>
        <dd class="col-sm-9">@Model.Sets</dd>

        <dt class="col-sm-3">Liczba powtórzeń</dt>
        <dd class="col-sm-9">@Model.Repetitions</dd>
    </dl>
</div>

<div class="mt-3">
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a>
 
    }
    <a asp-action="Index">Powrót do listy</a>

    <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
</div>
