@model IEnumerable<BeFitApp.Models.SessionExercise>

@{
    ViewData["Title"] = "Index";
}

<h1>Wykonane ćwiczenia</h1>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create">Dodaj nowy</a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainingSession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repetitions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @item.TrainingSession.StartTime.ToString("dd.MM.yyyy HH:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repetitions)
            </td>
            <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                <a asp-action="Edit" asp-route-id="@item.Id">Zmień</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
